<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit user</h1>
    <form action="/adminEdit/{{user.id}}" method="POST">
        <h3>Name:</h3><br />
        <input type="text" name="userName" value="{{user.name}}"/><br />

        <h3>Email:</h3><br />
        <input type="email" name="userEmail" value="{{user.email}}"/><br />

        <button type="submit" name="id" value="{{this.id}}">Edit User Details</button>
    </form>
</body>
</html>