
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    
        <h1>Admin Profile</h1>
        <h3>Name:{{user.name}}</h3>
        <h3>Email:{{user.email}}</h3>

        <form action="/delete">
            <button type="submit" method="GET">Delete user</button>
        </form>

        <form action="/update" method="GET">
            <button type="submit">Update details</button>
        </form>
        <form action="/newPost" method="GET">
            <button type="submit">Create new blogpost</button>
        </form>
        <form action="/userBlogPosts" method="GET">
            <button type="submit">See all your blog posts</button>
        </form>

        <br /> <br />

        <form action="/allUsersAdmin" method="GET">
            <button type="submit">See all users</button>
        </form>
        <form action="/userBlogPostsAdmin" method="GET">
            <button type="submit">See all blog posts</button>
        </form>
        {{message}}
    
</body>
</html>