<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Edit post</h1>
    <form action="/editPost/{{blogpost._id}}" method="POST">
        <h3>Title:</h3>
        <input type="text" name="postTitle" value="{{blogpost.title}}"/><br />

        <h3>Body:</h3>
        <input type="text" name="postBody" value="{{blogpost.body}}"/><br />

        <button type="submit">Update</button>
    </form>

    <form action="/delete/{{blogpost._id}}" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>