<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update your details</h1>
    
    <form action="/update" method="POST">
        <h3>Name:</h3><br />
        <input type="text" name="userName" value="{{user.name}}"/><br />

        <h3>Email:</h3><br />
        <input type="email" name="userEmail" value="{{user.email}}"/><br />

        <button type="submit">Update</button>
    </form>

    <form action="/password"  method="GET">
        <button type="submit">Click here to change your password</button>
    </form>

    <form action="/delete" method="POST">
        <button type="submit">Clkck to delete your profile</button>
    </form>
    {{message}}
</body>
</html>